   <%- include("partials/header.ejs")%>
   <%- include("partials/nav.ejs")%>
   <form class="m-auto w-25 mt-5" action="/update/<%= user._id %>" method="post">

      <h1 class="mb-4">Sign-Up page</h1>

      <input class="form-control mb-3" type="text" value="<%= user.username%>" placeholder="stefanjohn" name="username"> 
      <input class="form-control mb-3" type="text" value="<%= user.email%>" placeholder="example@johndoe.com" name="email"> 
      <input class="form-control mb-3" type="password" value="<%= user.password%>" placeholder="*********" name="password" disabled> 
      <button class="btn btn-primary w-23">update user</button>
      
   </form>
    <%- include("partials/footer.ejs")%>
  
